/* TODO: style Spot Details */
.spot-details {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 10px auto;
    padding: 0 20px;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    max-width: 1000px;
    margin: 10px auto;
    border: black 1px solid;
}

.large-image {
    grid-row: 1 / span2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spot-information {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: red 4px solid;
}

.spot-host {
    margin: 0;
    border: green 4px solid;
}

.price-and-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: black 4px solid;
}
.review-details {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction:column;
    max-width: 1000px;
    margin: 10px auto;
    padding: 0 20px;
    border: black 1px solid;
}